


<!-- ###TEMPLATE_SEARCHFORM### begin -->
<!-- ###HEADER### --><h1>Suche</h1><!-- ###HEADER### -->
<form method="post" name="tx_indexedsearch">
	<input type="text" name="tx_indexedsearch[sword]" value="###SWORD###"/>
	<input type="submit" name="search" value="###BUTTONTEXT###"/>
	<input type="hidden" name="tx_indexedsearch[results]" value="###RESULTS###">
	<input type="hidden" name="tx_indexedsearch[pointer]" value="###POINTER###">
	<input type="hidden" name="id" value="###ID###">
</form>


<!-- ###TEMPLATE_SEARCHFORM### end -->

<!-- ###TEMPLATE_HIDDENFORM### begin -->

<form method="post" name="tx_indexedsearch">
	<input type="hidden" name="tx_indexedsearch[sword]" value="###SWORD###"/>
	<!--<input type="submit" name="search" value="###BUTTONTEXT###"/>-->
	<input type="hidden" name="tx_indexedsearch[results]" value="###RESULTS###">
	<input type="hidden" name="tx_indexedsearch[pointer]" value="###POINTER###">
	<input type="hidden" name="id" value="###ID###">
</form>


<!-- ###TEMPLATE_HIDDENFORM### end -->