<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <f:cObject typoscriptObjectPath="lib.contentSlide" data="10" />
            </div>
            <div class="col-md-4 col-sm-6">
                <f:cObject typoscriptObjectPath="lib.contentSlide" data="11" />
            </div>
            <div class="col-md-4 col-sm-12">
                <f:cObject typoscriptObjectPath="lib.contentSlide" data="12" />
            </div>
        </div>
    </div>
</footer>