<html>

<body>

<!-- ###HYBRIDAUTH_DEFAULT### -->

	<h2 class="bgColor2 t3-row-header ">###NETWORK_TITLE###</h2>
	<!-- ###SEND_FORM### -->
	<div class="tables graybox">
			<div>###AUTH_STATE###</div>
			
			<div>###LABEL_SELECT_TARGET_ACCOUNTS###</div>
			<div>###ACCOUNT_SEL### ###ACCOUNT_EDITLINK###</div>
			
			<!-- ###SEND_FORM_HEADLINE### -->
			<h3 class="t3-row-header ">###LABEL_HEADLINE###</h3>
			<div>###INPUT_HEADLINE###</div>
			<!-- ###SEND_FORM_HEADLINE### -->
			
			<!-- ###SEND_FORM_INTRO### -->
			<h3 class="t3-row-header ">###LABEL_INTRO###</h3>
			<div>###INPUT_INTRO###</div>
			<!-- ###SEND_FORM_INTRO### -->
			
			<!-- ###SEND_FORM_MESSAGE### -->
			<h3 class="t3-row-header ">###LABEL_MESSAGE###</h3>
			<div>###INPUT_MESSAGE###</div>
			<!-- ###SEND_FORM_MESSAGE### -->
			
			<!-- ###SEND_FORM_URL### -->
			<h3 class="t3-row-header ">###LABEL_LINK###</h3>
			<div>###INPUT_URL###</div>
			<!-- ###SEND_FORM_URL### -->
	</div>
	<div class="btnBlock">###BTN_SEND###</div>
	<!-- ###SEND_FORM### -->

<!-- ###HYBRIDAUTH_DEFAULT### -->

</body>
</html>