<!-- ###SEARCH_FORM### begin-->

	<form method="post" action="###url_action###">
		<table cellpadding="2" cellspacing="0">
			<tr>
				<td>{LLL:EXT:pp_searchengine/locallang_db.php:tx_ppsearchengine_pi1.display.form.swords}</td>
				<td><input type="text" name="###prefixId###[sword]" value="###sword_value###" /></td>
			</tr>
			<tr>
				<td>{LLL:EXT:pp_searchengine/locallang_db.php:tx_ppsearchengine_pi1.display.form.engine}</td>
				<td><select name="###prefixId###[engine]"><option value="">{LLL:EXT:pp_searchengine/locallang_db.php:tx_ppsearchengine_pi1.display.form.engine.all}</option>###engine_options###</select></td>
			</tr>
			<tr>
				<td>{LLL:EXT:pp_searchengine/locallang_db.php:tx_ppsearchengine_pi1.display.form.lang}</td>
				<td><select name="###prefixId###[lang]">
					<option value="current"###current_select###>{LLL:EXT:pp_searchengine/locallang_db.php:tx_ppsearchengine_pi1.display.form.lang.current}</option>
					<option value="all"###all_select###>{LLL:EXT:pp_searchengine/locallang_db.php:tx_ppsearchengine_pi1.display.form.lang.all}</option>
					<option value="0"###default_select###>{LLL:EXT:pp_searchengine/locallang_db.php:tx_ppsearchengine_pi1.display.form.lang.default}</option>
					###lang_options###
				</select></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="{LLL:EXT:pp_searchengine/locallang_db.php:tx_ppsearchengine_pi1.display.form.submit}" /></td>
			</tr>
		</table>

	</form>

<!-- ###SEARCH_FORM### end-->