// CSS3 LESS-files created by: Arjuna Noorsanto
// http://loop.arcturus.uberspace.de/
//
// eMail: awebgo.net@gmail.com

// COLORS * * * * * * * * * * * * * * * * * * * * * *

@none: none;

@pureblack: rgba(0,0,0,0.5);
@darkblack: rgba(0,0,0,0.3);

@trans: transparent;

@blackgold: #ccc;
@spacegold: #ddd;
@darkgold: #eee;

@lightblack: #ccc;

@greyDark: #aaa;
@greyMono: #bbb;
@greyHigh: #ccc;

@whitecolor: #eee;

@backendred: rgba(127,11,31,1);
@frontendred: rgba(152,40,48,1);

@backendbluestrong: rgba(0,74,127,0.66);
@backendbluetrans: rgba(0,74,127,0.25);
@backendblue: rgba(0,74,127,1);
@frontendblue: rgba(0,93,149,1);

@backendgreen: rgba(9,99,13,1);
@frontendgreen: rgba(39,118,33,1);

@backendyellow: rgba(255,168,0,1);
@frontendyellow: rgba(229,146,0,1);

@lightredcolor: #888;
@yellowcolor: #333;

@noticecolor: #999;
@hintcolor: #aaa;

@bordercolor: #ccc;
@pagecolor: #eee;
@papercolor: #fff;

@pencolor: #222;
@iconcolor: #555;
@framecolor: #bbb;
@levelcolor: #aaa;
@linkcolor: @frontendgreen;

// ROUTES * * * * * * * * * * * * * * * * * * * * *

@import "global";
@import "/hostweb/assets/js/app/bower_components/fancybox/source/jquery.fancybox.css";

// END * * * * * * * * * * * * * * * * * * * * * *

