// CSS3 LESS-files created by: Arjuna Noorsanto
// http://loop.arcturus.uberspace.de/
//
// eMail: awebgo.net@gmail.com

// COLORS * * * * * * * * * * * * * * * * * * * * * *

@none: none;

@pureblack: rgba(0,0,0,0.5);
@darkblack: rgba(0,0,0,0.3);

@trans: transparent;

@blackgold: #ccc;
@spacegold: #ddd;
@darkgold: #eee;

@lightblack: #ccc;

@greyDark: #aaa;
@greyMono: #bbb;
@greyHigh: #ccc;

@whitecolor: #eee;

@backendred: rgba(127,11,31,1);
@frontendred: rgba(152,40,48,1);

@backendbluestrong: rgba(0,74,127,0.66);
@backendbluetrans: rgba(0,74,127,0.25);
@backendblue: rgba(0,74,127,1);
@frontendblue: rgba(0,93,149,1);

@backendgreen: rgba(9,99,13,1);
@frontendgreen: rgba(39,118,33,1);

@backendyellow: rgba(255,168,0,1);
@frontendyellow: rgba(229,146,0,1);

@lightredcolor: #888;
@yellowcolor: #333;

@noticecolor: #999;
@hintcolor: #aaa;

@bordercolor: #ccc;
@pagecolor: #eee;
@papercolor: #fff;

@pencolor: #222;
@iconcolor: #555;
@framecolor: #bbb;
@levelcolor: #aaa;
@linkcolor: @frontendgreen;

// ROUTES * * * * * * * * * * * * * * * * * * * * *

@import "global";
@import "/hostweb/assets/js/app/bower_components/fancybox/source/jquery.fancybox.css";

// END * * * * * * * * * * * * * * * * * * * * * *

// GLOBAL LESS

*, *:before, *:after {
    box-sizing: content-box; //border-box;
}

*:focus {
    outline: none !important;
}

html body#page #main header#header {
    position:absolute !important;
    top: -380px;
    z-index: 1000000;
}

div.cf {
    position: relative !important;
    z-index: -1 !important;
}

html body#page #contentWrapper a.homeLink {
    display: inline-block;
    margin: 0 15px 15px 0;
}

html body#page .featured-images {
    position: relative;
    display: inline-block;
    width: 100% !important;
    max-width: 32% !important;
}

html body#page code {
    display: inline-block;
    vertical-align: text-top;
    width: 100% !important;
    min-width: 96% !important;
    max-width: 96% !important;
    min-height: 0 !important;
    margin: 0 0 15px !important;
    padding: 15px !important;
    color: #fff !important;
    background-color: #222 !important;
    
    pre {
        display: inline-block;
        width: 100% !important;
        font-size: 1.125em !important;
        line-height: 120% !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: transparent !important;
    }
    
}

// LINKED IMAGES

html body#page .fancybox-overlay {
    z-index: 1000000 !important;
}

html body#page #main #contentWrapper *.linkImages img {
    width: 100% !important;
    max-width: 32% !important;
}

// BREADCRUMBAREA

#breadcrumbArea {
    
    & {
        position: relative;
        top: 10px;
        left: -10px;
        color: @yellowcolor;
        font-weight: bold;
        font-size: 1.2em;
        
        li {
            clear: both;
            float: left;
            list-style: none;
            
            &, * {
                font-weight: bold !important;
            }
        }
        
    }
    
}

// TECHBLOG AREA

html body#page #contentWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100% !important;
    
    ul.category-list {
        padding-left: 16px !important;
        
        > li {
            list-style: square !important;
            
            > a {
                font-size: 1.48em !important;
                font-weight: bold;
                line-height: 160% !important;
            }
            
        }
        
    }
    
    ul.post-list {
        position: relative;
        display: inline-block;
        width: auto !important;
        
        li {
            list-style: none !important;
            padding-left: 0;
        }
        
        div.content {
            display: none;
        }
        
    }
    
}

html body#page #main #contentWrapper #blogArea {
    
    div.content {
        
        > h3,
        > h3 > strong {
            color: @frontendblue !important;
        }
        
    }
    
    p.info {
        display: block;
        text-align: right;
        font-size: 0.975em !important;
    }
    
    a {
        color: @frontendblue !important;
        
        &:hover {
            color: @frontendgreen !important;
        }
    }
    
}

html body#page #main #contentWrapper #blogArea.journal {
    
    p.info {
        font-weight: bold !important;
    }
    
}

html body#page #main #contentWrapper #blogArea.topic {}

html body#page #main #contentWrapper #blogArea.event {
    
    p.info {
        clear: both;
        margin-top: 75px !important;
    }
    
}

html body#page #main #contentWrapper .btn_link {
    border: 2px solid @frontendred !important;
}

// TECHFORUM AREA 

section.techforumArea {
    position: relative;
    font-size: 1em;
    
    &, > *, > * > *,
    table.forum-table {
        min-width: 100% !important;
        width: 100% !important;
    }
    
    .search-box {
        input {
            display: block;
            width: 100%;
            padding: 7px;
            border: 1px solid @bordercolor !important;
        }
    }
    
    .root-channel,
    .forum-table {
        width: 100%;
        background-color: @frontendblue;
        
        th {
            color: #fff !important;
        }
        
        > * {
            padding: 15px !important;
        }
        
        *:not(td *) {
            color: #fff !important;
        }
    }
    
    .forum-channel {
        background-color: @pagecolor;
        
        p {
            color: #eee !important;
            margin: 0 0 15px 15px;
            padding: 0;
        }
        
        a {
            margin: 0 0 15px 15px;
        }
        
        td[class$="-column"] {
            background-color: transparent !important;
            
            > * {
                position: relative;
                left: 15px;
            }
        }
        
        td {
            h5 {
                font-size: 1.48em;
                
                &, * {
                    color: @frontendred !important;
                }
            }
            
            p {
                font-size: 0.88em;
            }
        }
        
        .forum-subchannel {
            ul {
                li {
                    list-style: none;
                    display: none;
                    padding: 0 !important;
                    margin: 0 !important;
                    &, * {
                        font-size: 1.125em;
                        font-weight: bold;
                    }
                }
                
                li + li {
                    display: block;
                }
            }
        }
        
    }
    
}

// SEARCHBOX MAIN

#searchBoxMain {
    
    input.mainsearch {
        padding: 7px 4px;
        border: 1px solid @lightredcolor !important;
    }
    
}

// PLUGINBOX INFO

html body#page div.pluginBoxInfo {
    
    ul {
        li {
            clear: both;
            float: left;
            
            * {
                font-size: 1.125em;
                line-height: 160%;
            }
        }
    }
}

// MEMBER AREA

html body#page section#memberArea {
    
    > * {
        vertical-align: text-top;
    }
    
    #content {
        clear: both;
        float: left;
        width: 100%;
        max-width: 62%;
    }
    
    #sidebar {
        float: right;
        width: 100%;
        max-width: 32%;
    }
    
    label {
        clear: both;
        float: left;
        width: 100%;
        max-width: 12%;
        padding: 7px !important;
    }
    
    input {
        float: left;
        width: 100%;
        max-width: 82%;
        background-color: #fff !important;
        border: 1px solid @bordercolor !important;
        padding: 7px !important;
        margin-bottom: 15px;
    }
    
    .btn-default {
        clear: both;
        float: left;
        margin: 15px 15px 60px 0;
        padding: 7px !important;
        color: #fff !important;
        border: 2px solid @frontendred !important;
    }
    
}

// BLOGTAGS AREA

html body#page section.blogTagsArea {
    
    ul {
        padding: 0 !important;
        margin: 0 !important;
        
        li {
            padding: 0 !important;
            margin: 0 !important;
            list-style: none;
            font-size: 1.25em !important;
            line-height: 160% !important;
            text-transform: uppercase;
            font-weight: bold !important;
            color: @frontendgreen !important;
        }
    }
    
}

// INTRO AREA

html body#page section.introArea {
    
    ul {
        position: relative;
        padding: 0 !important;
        margin: 0 !important;
        
        li {
            float: left;
            padding: 0 !important;
            margin: 0 15px 15px 0 !important;
            list-style: none;
            font-size: 1.32em !important;
            line-height: 160% !important;
            text-transform: uppercase;
            font-weight: bold !important;
            color: @frontendgreen !important;
        }
    }
    
}

// USER LOGIN AREA

html body#page section#userArea {
    
    label {
        clear: left;
        float: left;
        width: 100%;
        max-width: 32%;
    }
    
    input {
        float: left;
        width: 100%;
        max-width: 62%;
        margin-bottom: 15px;
    }
    
}

// OPENSOURCE TAG COLORS

html body#page #main *.codingTools,
html body#page #main *.graphicTools,
html body#page #main *.webTipps {
    
    li {
        &, * {
            color: #eee !important;
        }
        background-color: @frontendgreen + #222 !important;
    }
    li:hover.red {
        background-color: @frontendred + #222 !important;
    }
    li:hover,
    li.blue {
        background-color: @frontendblue + #222 !important;
    }
    li.green {
        background-color: @frontendgreen + #222 !important;
    }
    
}

