#preloader  {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: black;
     z-index: 9999;
    height: 100%;
 }

#status  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url(../typo3conf/ext/ajaxpagepreloader/Resources/Public/Images/ajax-loader-black.gif);
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }.breadcrumbs > *:before {content:"/";top:1px;}.overflowvisible { overflow:visible!important; }