description = "Main Template"
==
<!DOCTYPE HTML>
<html ng-app='loopcode'>
	<p class='slogan'>
		<strong>Loopshape präsentiert das Webentwicklungsportal für Programmierer</strong>
	</p>
	<noscript>
		Javascript muss aktiviert sein, damit diese Website im vollen Umfang genutzt werden kann !!!!!!!
		<style rel='stylesheet'>
			#page > * > * {
				display: none !important;
			}
			#page > .inner {
				margin-top: -45px !important;
			}
		</style>
	</noscript>

	<head>

		<!-----------------------------------------

		BUSINESS PORTFOLIO + THEME "Infinity Red"

		Programmed by: Arjuna Noorsanto in Q2/2015
		Contact eMail: awebgo.net@gmail.com

		http://loop.arcturus.uberspace.de/

		------------------------------------------->

		<base href="http://loop.arcturus.uberspace.de/">
		</base>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=1" />

		<title>Web Development • Arjuna Noorsanto • Mediengestalter Digital in Hamburg/Germany</title>

		<link href='//fonts.googleapis.com/css?family=Lora|Oswald:700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="{{ ['assets/less/theme.less'] | theme }}" />

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<!--[if gte IE 9]>
		<style type="text/css">
		.gradient {
		filter: none;
		}
		</style>
		<![endif]-->

		<link rel="shortcut icon" href="favicon.ico" />

	</head>
	<body id="page">

		<!-- <img id="fmWallpaper" src="./hostweb/assets/img/area/background.jpg" width="auto" height="100%" alt="" /> -->

		<div class="inner">

			<!-- <img class="fillArea" src="./hostweb/assets/img/area/background.jpg" width="100%" height="100%" alt="" /> -->

			<section id="main">

				{% partial "area/header" %}
				
				<div id="contentWrapper">
				    
				    <div class="gridsys"></div>
	
    				{% page %}
						
				</div>
				
				<div class="cf"></div>
				
				{% partial "markup/socialmedias" %}
				<p>&nbsp;</p>
				
				<div id="bufferSpace"></div>
                
                <section id="disqusArea">
                	<div id="disqus_thread"></div>
                	<script type="text/javascript">
                		var disqus_shortname = 'loopshapeportfolio';
                		(function() {
                			var dsq = document.createElement('script');
                			dsq.type = 'text/javascript';
                			dsq.async = true;
                			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                		})();
                	</script>
                	<noscript>
                		<a href="https://disqus.com/?ref_noscript" rel="nofollow"></a>
                	</noscript>
                	<style rel="stylesheet">
                		html body#page #disqusArea {
                			margin-bottom: 0px !important;
                		}
                	</style>
                </section>
                
                <div class="cf"></div>
    				
    			{% partial "area/footer" %}
				
            </section>
		
		</div>

		<script type="text/javascript">
			var disqus_shortname = 'loopshapeportfolio'; ( function() {
					var s = document.createElement('script');
					s.async = true;
					s.type = 'text/javascript';
					s.src = '//' + disqus_shortname + '.disqus.com/count.js';
					(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
				}());
		</script>
        
        <a href="#" class="scrollToTop"></a>

		<a class="areaFull" href="./." title="Mausklick: Erneuten HTTP-Request senden!"><img src="./hostweb/assets/img/items/ajax-loader.gif" alt="" id="ajaxLoader" /></a>
        
		{% partial "area/scripts" %}

	</body>

</html>