.hasJs .dfcontentslide-content {
	display: none;

	@media print {
		display: block !important;
		opacity: 1 !important;
		height: auto !important;
		max-height: inherit !important;
	}
}

.dfcontentslide-toggle {
	@media print {
		display: none;
	}
}

.dfcontentslide-open .dfcontentslide-content {
	display: block;
}

.dfcontentslide-toggle h1,
.dfcontentslide-toggle h2,
.dfcontentslide-toggle h3,
.dfcontentslide-toggle h4,
.dfcontentslide-toggle p {
	margin: 0 0 0 2px;
	padding: 0 0 0 14px;
	font-size: 11px;
	line-height: 14px;
	background: url(../Images/icon.png) left top no-repeat;
	cursor: pointer;
}

.dfcontentslide-toggle a,
.dfcontentslide-toggle a:visited {
	color: #666;
}

.dfcontentslide-open .dfcontentslide-toggle h1,
.dfcontentslide-open .dfcontentslide-toggle h2,
.dfcontentslide-open .dfcontentslide-toggle h3,
.dfcontentslide-open .dfcontentslide-toggle h4,
.dfcontentslide-open .dfcontentslide-toggle p {
	background-position: left -45px;
}

.dfcontentslide-spinner,
.dfcontentslide-contentSub {
	margin: 0 0 0 15px;
}

.dfcontentslide-spinner {
	height: 16px;
	width: 16px;
	background: url(../Images/ajax-loader.gif) left top no-repeat;
}

@media print {
	.hasJs .dfcontentslide-content {
		display: block;
	}

	.dfcontentslide-contentSub {
		margin: 10px 0;
	}

	.dfcontentslide-toggle h1,
	.dfcontentslide-toggle h2,
	.dfcontentslide-toggle h3,
	.dfcontentslide-toggle h4,
	.dfcontentslide-toggle p {
		padding: 0;
		font-size: 1em;
		background: none;
	}
}

.dfcontentslide-wrap[data-dfcontentslide-animation="slideUpwards"] {
	display: flex;
	flex-direction: column;

	.csc-header {
		order: 2;
	}

	.dfcontentslide-content {
		order: 1;
	}
}

.dfcontentslide-content.dfcontentslide-transition-fallback {
	display: none;
}

.dfcontentslide-content.dfcontentslide-transition-fade {
	transition: opacity .8s ease, max-height 0s ease .5s;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	display: block;
}

.dfcontentslide-open .dfcontentslide-content.dfcontentslide-transition-fade {
	opacity: 1;
	max-height: 999999999px;
	transition: opacity .8s ease;
}