<f:layout name="Default" />
<f:section name="main">
<f:if condition="{outputUrl}">
	<f:then>
		<f:if condition="{settings.html5disable}">
			<f:then>
				<iframe {f:if(condition:'{settings.name}', then : 'name="{settings.name}"')} src="{outputUrl}" width="{settings.width}" height="{settings.height}" marginwidth="{settings.marginwidth}" marginheight="{settings.marginheight}" scrolling="{settings.scrolling}" frameborder="{settings.frameborder}"></iframe>
			</f:then>
			<f:else>
				<iframe {f:if(condition:'{settings.name}', then : 'name="{settings.name}"')} src="{outputUrl}" width="{settings.width}" height="{settings.height}" {f:if(condition:'{settings.srcdoc}',then:'srcdoc="{settings.srcdoc}"',else:'')} {f:if(condition:'{settings.sandbox}',then:'sandbox="{settings.sandbox}"',else:'')} {f:if(condition:'{settings.seamless}',then:'seamless="yes"',else:'')}></iframe>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<span class="error"><f:translate key="noUrlSpecified"/></span>
	</f:else>
</f:if>
</f:section>
