// CSS3 SASS-files created by: Arjuna Noorsanto
// http://loop.arcturus.uberspace.de/
//
// eMail: awebgo.net@gmail.com

// COLORS * * * * * * * * * * * * * * * * * * * * * *

$none: none !important;

$pureblack: rgba(0,0,0,0.5) !important;
$darkblack: rgba(0,0,0,0.3) !important;

$trans: transparent !important;

$blackgold: #ccc !important;
$spacegold: #ddd !important;
$darkgold: #eee !important;

$lightblack: #ccc !important;

$greyDark: #aaa !important;
$greyMono: #bbb !important;
$greyHigh: #ccc !important;

$whitecolor: #eee !important;

$backendred: rgba(127,11,31,1) !important;
$frontendred: rgba(152,40,48,1) !important;

$backendbluestrong: rgba(0,74,127,0.66) !important;
$backendbluetrans: rgba(0,74,127,0.25) !important;
$backendblue: rgba(0,74,127,1) !important;
$frontendblue: rgba(0,93,149,1) !important;

$backendgreen: rgba(9,99,13,1) !important;
$frontendgreen: rgba(39,118,33,1) !important;

$backendyellow: rgba(255,168,0,1) !important;
$frontendyellow: rgba(229,146,0,1) !important;

$lightredcolor: #888 !important;
$yellowcolor: #333 !important;

$noticecolor: #999 !important;
$hintcolor: #aaa !important;

$bordercolor: #ccc !important;
$pagecolor: #eee !important;
$papercolor: #fff !important;

$pencolor: #222 !important;
$iconcolor: #555 !important;
$framecolor: #bbb !important;
$levelcolor: #aaa !important;
$linkcolor: $frontendgreen;

// ROUTES * * * * * * * * * * * * * * * * * * * * * *

@import "layout/global";
@import "layout/clearfix";

@import "layout/style";
@import "layout/elements";

@import "layout/formfields";

@import "layout/grids";

@import "layout/socialmedia";

@import "layout/finalize";

@import "layout/responsive";

@import "layout/effects";