<h3 class="teaserHeadline">
	<i class="fa fa-globe"></i>&nbsp;<strong>Webentwicklung</strong>
</h3>

<section id="loginBar" ng-controller="bridge">

	<h3><strong>Benutzer Anmeldung</strong></h3>

	<form id="areaAngular" class="grid100" action="./../?qeue=submit" method="get">
		
		<label>eMail</label>
		<input ng-model="userEmail" type="email" />
		
		<label>Passwd</label>
		<input ng-model="userPasswd" type="password" />
		
		<button ng-model="loginButton" class="btn_submit hastip" title="Benutzerdaten senden" type="submit">Login</button>
		
	</form>
	
	<h5 ng-show="userEmail"></h5>
		
</section>

