<header class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <f:cObject typoscriptObjectPath="lib.logo" />
            </div>
            <div class="col-md-8 col-sm-8">
                <f:cObject typoscriptObjectPath="lib.langnav" />
                <f:cObject typoscriptObjectPath="lib.navbar" />
            </div>
        </div>
    </div>
</header>

<div class="container">
    <f:render section="content" />
</div>

<footer>
    <f:cObject typoscriptObjectPath="lib.footerContent" />
</footer>