<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>company</title>
    <f:format.raw><f:cObject typoscriptObjectPath="lib.pageCss" /></f:format.raw>
</head>
<body style="width:100% !important; min-height:1000px; color:#313131; font-family:Arial,Helvetica,sans-serif; font-size:16px; line-height:1.5;" alink="#0a77b0" link="#0a77b0" text="#313131" yahoo="fix">

    <div id="body_style">
        <table cellpadding="0" cellspacing="0" border="0" style="width:100% !important; margin:0; padding:0;">
            <tr bgcolor="#ffffff">
                <td>&nbsp;&nbsp;</td>
                <td>
                    <f:render section="content" />
                </td>
                <td>&nbsp;&nbsp;</td>
            </tr>
        </table>
    </div>
</body>
</html>