// global modifications after template definition

html #page {
  border: $none;
  margin-bottom: 0 !important;
}

html,
html *,
html #page,
html #page *,
html #page header#header,
html #page #contentWrapper,
html #page #contentWrapper *,
html #page footer#footer {
-moz-box-shadow: $none;
-webkit-box-shadow: $none;
box-shadow: $none;
border: $none;
border-width: 0 !important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
  text-shadow: $none;
  border-color: $none;
-webkit-transition: all 0ms linear !important;
-moz-transition: all 0ms linear !important;
-ms-transition: all 0ms linear !important;
-o-transition: all 0ms linear !important;
transition: all 0ms linear !important;
}

html #page,
//html #page h1,
//html #page h2,
//html #page h3,
html #page h4,
html #page h5,
html #page h6,
html #page input,
html #page p,
html #page strong p,
html #page p strong:not(#tutsArea > a > * > strong) {
  color: $pencolor;
}

html #page {
  background-color: $blackgold;
}

html #page > .inner {
  background-color: $darkgold;
}

html #page #main #contentWrapper {
  position: relative;
  display: inline-block;
  width: 100% !important;
  background-color: $none;
  padding: 30px !important;
  top: 30px;
  max-width: 94% !important;
  margin-bottom: 30px !important;
}

i {
  text-shadow: 0 0 1px #000 !important;
}

*[class^="btn"] {
  &, *, &:hover, *:hover {
-webkit-transition: all 0ms linear !important;
-moz-transition: all 0ms linear !important;
-ms-transition: all 0ms linear !important;
-o-transition: all 0ms linear !important;
transition: all 0ms linear !important;
  }
}

html #page > .inner {
  padding-bottom: 0 !important;
}

html #page > .inner,
html #page div.blackBoxTrans1,
html #page #header .fmLogo {
  background: $none;
  border: $none;
}

html #page #header > div.inner > div.fmHeader {
  left: 34% !important;
}

html #page i,
#header > div.inner > div.fmHeader > strong > h2 > i {
  color: $backendblue;
}

html #page p.slogan {
  display: $none;
}

#footer > div > h6 > strong > i {
  color: $pencolor;
}

html #page #main #contentWrapper {
  position: relative;
  display: inline-block;
  border: 2px solid $bordercolor;
  width: 100% !important;
  max-width: 93% !important;
}

html #page #glowMenu > strong > *,
html #page #sidebar > div > div > h5 > strong > a,
#glowMenu a {
  color: $frontendgreen;
  
  &:hover {
    color: $frontendblue;
  }
}

html #page header#header {
  background-color: $greyHigh;
}

html #page footer#footer {
  position: relative;
  display: inline-block;
  width: 100% !important;
  max-width: 96%;
  background-color: $greyDark;
  margin-top: 30px !important;
  margin-left: -6px !important;
}

html #page a:hover {
  &, * {
    color: $linkcolor;
  }
}

html #page #contentWrapper a > button.btn_link * {
  color: $whitecolor;
  font-size: 1.2em !important;
  opacity: 0.8 !important;
}
html #page #contentWrapper a > button.btn_link:hover * {
  color: $greyMono;
}

html #page #main #subSectionArea {
  div ul > li {
    border: 2px solid $pencolor;
  }
}

html #page #main #disclaimerBox {
  padding: 30px !important;
  
  a {
    color: $iconcolor;
    
    &:hover {
      color: $linkcolor;
    }
  }
}

html #page #main #contentWrapper img.portrait {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: auto;
  max-width: 160px;
  
  border: 5px solid $frontendblue;
  
-webkit-transition: all 1000ms ease-in-out !important;
-moz-transition: all 1000ms ease-in-out !important;
-ms-transition: all 1000ms ease-in-out !important;
-o-transition: all 1000ms ease-in-out !important;
transition: all 1000ms ease-in-out !important;
}

* a {
  text-decoration: $none;
  border: $none;
}

html #page #tutsArea > a > * > strong {
  color: $frontendblue;
  
  &:hover {
    color: $frontendgreen;
  }
}

html #page #tutsArea > a > * > strong > *,
html #page #content strong * a:not(html #page #footer > div > * > strong > a),
html #page #sidebar strong * a:not(html #page #footer > div > * > strong > a) {
  color: $frontendgreen;
  
  &:hover {
    color: $frontendblue;
  }
}

html #loginBar {
  display: $none;
}

html .imgPlaceholder {
  display: none;
}

html #teaserWrapper > h3.teaserHeadline > strong {
  &, * {
    color: $frontendblue;
  }
}

html body#page #main {
  #header {
    position: relative;
    
    & > div.inner {
      
      & > div.fmLogo {
        
        img {
          position: relative  !important;
          display: inline-block;
          clear: both;
          float: left;
          margin-top: -35px !important;
        }
      }
    
      & > div.fmLogo {
        position: relative;
        top: 30px !important;
        left: 40px;
        float: left !important;
        display: inline-block;
        width: auto !important;
        height: 100% !important;
        max-height: 100% !important;
        margin: 10px 0 !important;
        border: 10px solid $backendblue;
        background-color: $darkgold;
      }
    }
  }
}

#navBarMain {
  margin-top: -20px !important;
}

html body#page #main div[class^="blackBoxTrans"] {
  background-color: $backendbluetrans;
}

html #page #main div.gridsys {
  background-color: $papercolor;
  opacity: 0.75 !important;
}