description = "Personal address textblock"
==
<div class="resizeReset" style="position:relative;top:-30px;">
	<h3><strong><i class="fa fa-user"></i>&nbsp;Kontakt</strong></h3>

	<div class="imgPlaceholder">
		<br />
		<img src="./hostweb/assets/img/avatars/github_avatar.png" alt="" width="20%" height="auto" class="portrait" />
		<p>
			&nbsp;
		</p>
		<p>
			&nbsp;
		</p>
	</div>
	<h5><strong class="resizeBigger">Arjuna Noorsanto</strong></h5>
	<h5 class="resizeBigger"> Anschrift:
	<br />
	<strong> Holsteiner Chaussee 23
	<br />
	22523 DE-Hamburg </strong></h5>
	<h5 class="resizeBigger"> E-Mail: <strong><a class="hastip" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#119;&#101;&#98;&#103;&#111;&#46;&#110;&#101;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;?subject=Kontaktanfrage%20über%20das%20Loopshape-Portal&body=Bitte%20schildern%20Sie%20Ihr%20Anliegen..." title="Webmaster kontaktieren">&#97;&#119;&#101;&#98;&#103;&#111;&#46;&#110;&#101;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></strong>
	<br />
	Mobile: <strong><a class="hastip" title="Mobilfunknummer vom Webmaster" href="tel:004917695749832">0176 / 95 74 98 32</a></strong></h5>
</div>