description = "Meta Header"
==
<head>

    <!-----------------------------------------

    BUSINESS PORTFOLIO + THEME "Infinity Red"

    System powered by OctoberCMS

    Programmed by: Arjuna Noorsanto in Q2/2015
    Contact eMail: awebgo.net@gmail.com

    http://loop.arcturus.uberspace.de/

    ------------------------------------------->
    <base href="http://<?php echo $_SERVER['HTTP_HOST'] . '/' . $pageParams[0] . (!empty($pageParams[0]) ? '/' : '') ?>">
    </base>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=1" />
    <title><?php echo $pageParams[1]; ?></title>
    <link href='//fonts.googleapis.com/css?family=Lora|Oswald:700' rel='stylesheet' type='text/css'>
    <link href="./hostweb/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--[if gte IE 9]>
    <style type="text/css">
    .gradient {
    filter: none;
    }
    </style>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico" />

</head>