<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title>Event Calendar Template</title>
</head>
<body>

<h1>Month View Calendar Template</h1>

<!-- ###TOP_TEMPLATE_MONTH### begin -->
	<p align="center">
		Switch view: ###LINK_SWITCH_TO_MONTH### Month ###LINK_SWITCH_TO_MONTH### |
  		###LINK_SWITCH_TO_WEEK### Week ###LINK_SWITCH_TO_WEEK### |
  		###LINK_SWITCH_TO_DAY### Day ###LINK_SWITCH_TO_DAY### |
  		###LINK_TODAY### Go to today ###LINK_TODAY###
	</p>

	<table border="0" width="100%">
	  	<tr>
			<td valign="bottom">
				<center><b>Month at a glance</b></center>
			<td valign="top" width="100%">

				###CURRENT_MONTH###

				<table width="100%">
    				<tr>
						<td align="left" width="5%" valign="bottom">
	    					###LINK_PREV_MONTH### ###PREV_MONTH### ###LINK_PREV_MONTH###
	    					###LINK_PREV_YEAR### ###PREV_YEAR### ###LINK_PREV_YEAR###
						</td>
						<td align="center" valign="bottom">###CATEGORY_SELECT###</td>
						<td align="right" width="5%" valign="bottom">
	    					###LINK_NEXT_MONTH### ###NEXT_MONTH### ###LINK_NEXT_MONTH###
	    					###LINK_NEXT_YEAR### ###NEXT_YEAR### ###LINK_NEXT_YEAR###
						</td>
    				</tr>
				</table>

			</td>
		</tr>
		<tr>
			<td valign="top">
				###MONTH_AT_GLANCE_INSERT_1###
				###MONTH_AT_GLANCE_INSERT_2###
				###MONTH_AT_GLANCE_INSERT_3###
			</td>
			<td valign="top" width="100%">

				<table style="border: 1px solid #AAAAAA; width: 100%">
					<tr>
						<td class="displayMonthWeekHeader">Week</td>
						<td class="displayMonthWeekDayHeader">Mon</td>
						<td class="displayMonthWeekDayHeader">Tue</td>
						<td class="displayMonthWeekDayHeader">Wen</td>
						<td class="displayMonthWeekDayHeader">Thu</td>
						<td class="displayMonthWeekDayHeader">Fri</td>
						<td class="displayMonthWeekEndDayHeader">Sat</td>
						<td class="displayMonthWeekEndDayHeader">Sun</td>
					</tr>
					<!-- ###CALENDAR_MATRIX### begin -->
						<!-- ###TEMPLATE_WEEK### begin -->
						  		<tr>
									<td valign="top" style="background-color: #DDDDEE; width: 50px">###LINK_WEEK######CURRENT_WEEK######LINK_WEEK###</td>

										<!-- ###DAY_MATRIX### begin -->
											<!-- ###TEMPLATE_DAY### begin -->
												<div class="dayTitle">###LINK_DAY######DAY_HEADER######LINK_DAY###</div>
																<!-- ###OVERLAPPING_EVENTS### begin -->
																	<!-- ###TEMPLATE_EVENT### begin -->
																		<div class="monthOverlappingEvent">&lt;###LINK_EVENT######EVENT_TITLE######LINK_EVENT###&gt;</div>
																	<!-- ###TEMPLATE_EVENT### end -->
																<!-- ###OVERLAPPING_EVENTS### end -->
																<!-- ###FROM_PREV_DAY_EVENTS### begin -->
																	<!-- ###TEMPLATE_EVENT### begin -->
																		<div class="monthFromPrevDayEvent">&lt;###LINK_EVENT######EVENT_TITLE######LINK_EVENT###</div>
																	<!-- ###TEMPLATE_EVENT### end -->
																<!-- ###FROM_PREV_DAY_EVENTS### end -->
																<!-- ###TO_NEXT_DAY_EVENTS### begin -->
																	<!-- ###TEMPLATE_EVENT### begin -->
																		<div class="monthToNextDayEvent">###LINK_EVENT######EVENT_TITLE######LINK_EVENT###&gt;</div>
																	<!-- ###TEMPLATE_EVENT### end -->
																<!-- ###TO_NEXT_DAY_EVENTS### end -->
																<!-- ###FULL_DAY_EVENTS### begin -->
																	<!-- ###TEMPLATE_EVENT### begin -->
																		<div class="monthFullDayEvent">###LINK_EVENT######EVENT_TITLE######LINK_EVENT###</div>
																	<!-- ###TEMPLATE_EVENT### end -->
																<!-- ###FULL_DAY_EVENTS### end -->
											<!-- ###TEMPLATE_DAY### end -->
										<!-- ###DAY_MATRIX### end -->
						  		</tr>
						<!-- ###TEMPLATE_WEEK### end -->
					<!-- ###CALENDAR_MATRIX### end -->
				</table>

				###SUMMARY_VIEW_MONTH_INSERT###
			</td>
		</tr>
	</table>



<!-- ###TOP_TEMPLATE_MONTH### end -->


<!-- ###TOP_TEMPLATE_WEEK### begin -->
	<p align="center">
		Switch view: ###LINK_SWITCH_TO_MONTH### Month ###LINK_SWITCH_TO_MONTH### |
	  	###LINK_SWITCH_TO_WEEK### Week ###LINK_SWITCH_TO_WEEK### |
	  	###LINK_SWITCH_TO_DAY### Day ###LINK_SWITCH_TO_DAY### |
	  	###LINK_TODAY### Go to today ###LINK_TODAY###
	</p>

	<table class="weekTable">
  		<tr>
    			<td>###LINK_PREV_WEEK### ###PREV_WEEK### ###LINK_PREV_WEEK###</td>
    			<td align="center">###CURRENT_WEEK###: ###CURRENT_WEEK_START### - ###CURRENT_WEEK_END###</td>
    			<td align="right">###LINK_NEXT_WEEK### ###NEXT_WEEK### ###LINK_NEXT_WEEK###</td>
  		</tr>
		<tr>
			<td align="center" valign="bottom" colspan="3">###CATEGORY_SELECT###</td>
		</tr>
  		<tr>
    			<td colspan="3">
				<!-- ###DAY_MATRIX### begin -->
					<!-- ###TEMPLATE_DAY### begin -->
						<table style="border: 0; width: 100%; height: 100%">
							<tr>
								<td><div class="dayHeader">###LINK_DAY######DAY_HEADER######LINK_DAY###</div></td>
							</tr>
							<tr>
								<td valign="top">
									<table style="border: 1px solid #AAAAAA; width: 100%">
										<!-- ###OVERLAPPING_EVENTS### begin -->
											<!-- ###TEMPLATE_EVENT### begin -->
												<tr>
													<td style="width: 70px">&lt;</td>
													<td align="center">###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###</td>
													<td align="right" style="width: 70px">&gt;</td>
												</tr>
											<!-- ###TEMPLATE_EVENT### end -->
										<!-- ###OVERLAPPING_EVENTS### end -->
										<!-- ###FROM_PREV_DAY_EVENTS### begin -->
											<!-- ###TEMPLATE_EVENT### begin -->
												<tr>
													<td style="width: 70px">&lt;</td>
													<td align="center">###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###</td>
													<td align="right" style="width: 70px">&nbsp; ###EVENT_ENDTIME###</td>
												</tr>
											<!-- ###TEMPLATE_EVENT### end -->
										<!-- ###FROM_PREV_DAY_EVENTS### end -->
										<!-- ###FULL_DAY_EVENTS### begin -->
											<!-- ###TEMPLATE_EVENT### begin -->
												<tr>
													<td style="width: 70px">&nbsp;</td>
													<td align="center">###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###</td>
													<td align="right" style="width: 70px">&nbsp;</td>
												</tr>
											<!-- ###TEMPLATE_EVENT### end -->
										<!-- ###FULL_DAY_EVENTS### end -->
										<!-- ###TO_NEXT_DAY_EVENTS### begin -->
											<!-- ###TEMPLATE_EVENT### begin -->
												<tr>
													<td style="width: 70px">&nbsp; ###EVENT_STARTTIME###</td>
													<td align="center">###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###</td>
													<td align="right" style="width: 70px">&gt;</td>
												</tr>
											<!-- ###TEMPLATE_EVENT### end -->
										<!-- ###TO_NEXT_DAY_EVENTS### end -->
									</table>
								</td>
							</tr>
							<tr>
								<td valign="bottom">
									<!-- ###HOUR_MATRIX### begin -->
										<!-- ###TEMPLATE_EVENT### begin -->
											###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###
											###EVENT_STARTTIME###
										<!-- ###TEMPLATE_EVENT### end -->
									<!-- ###HOUR_MATRIX### end -->
								</td>
							</tr>
						</table>
					<!-- ###TEMPLATE_DAY### end -->
				<!-- ###DAY_MATRIX### end -->
			</td>
  		</tr>
	</table>

<!-- ###TOP_TEMPLATE_WEEK### end -->


<!-- ###TOP_TEMPLATE_DAY### begin -->
	<p align="center">
		Switch view: ###LINK_SWITCH_TO_MONTH### Month ###LINK_SWITCH_TO_MONTH### |
  		###LINK_SWITCH_TO_WEEK### Week ###LINK_SWITCH_TO_WEEK### |
  		###LINK_SWITCH_TO_DAY### Day ###LINK_SWITCH_TO_DAY### |
  		###LINK_TODAY### Go to today ###LINK_TODAY###
	</p>

	<table border=0 width='100%'>
    		<tr>
			<td align=left style="width: 100px">###LINK_PREV_DAY### ###PREV_DAY### ###LINK_PREV_DAY###</td>
			<td align=center>###DAY_HEADER###</td>
			<td align=right style="width: 100px">###LINK_NEXT_DAY### ###NEXT_DAY### ###LINK_NEXT_DAY###</td>
    		</tr>
	</table>

	<br>
		<table style="border: 1px solid #AAAAAA; width: 100%; border-bottom: none; " cellspacing="0">
			<!-- ###OVERLAPPING_EVENTS### begin -->
				<!-- ###TEMPLATE_EVENT### begin -->
					<tr class="dayOverlappingEvents">
						<td style="width: 70px">&lt; ###EVENT_STARTDATE###</td>
						<td align="center">###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###</td>
						<td align="right" style="width: 70px">###EVENT_ENDDATE### &gt;</td>
					</tr>
				<!-- ###TEMPLATE_EVENT### end -->
			<!-- ###OVERLAPPING_EVENTS### end -->
			<!-- ###FROM_PREV_DAY_EVENTS### begin -->
				<!-- ###TEMPLATE_EVENT### begin -->
					<tr class="dayFromPrevDayEvents">
						<td style="width: 70px">&lt; ###EVENT_STARTDATE###</td>
						<td align="center">###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###</td>
						<td align="right" style="width: 70px">&nbsp; ###EVENT_ENDTIME###</td>
					</tr>
				<!-- ###TEMPLATE_EVENT### end -->
			<!-- ###FROM_PREV_DAY_EVENTS### end -->
			<!-- ###FULL_DAY_EVENTS### begin -->
				<!-- ###TEMPLATE_EVENT### begin -->
					<tr class="dayFullDayEvents">
						<td style="width: 70px">&nbsp;</td>
						<td align="center">###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###</td>
						<td align="right" style="width: 70px">&nbsp;</td>
					</tr>
				<!-- ###TEMPLATE_EVENT### end -->
			<!-- ###FULL_DAY_EVENTS### end -->
			<!-- ###TO_NEXT_DAY_EVENTS### begin -->
				<!-- ###TEMPLATE_EVENT### begin -->
					<tr class="dayToNextDayEvents">
						<td style="width: 70px">&nbsp; ###EVENT_STARTTIME###</td>
						<td align="center">###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###</td>
						<td align="right" style="width: 70px">###EVENT_ENDDATE### &gt;</td>
					</tr>
				<!-- ###TEMPLATE_EVENT### end -->
			<!-- ###TO_NEXT_DAY_EVENTS### end -->
		</table>
		<table border="1" width="100%" class="hourMatrix" cellspacing="0">
			<!-- ###HOUR_MATRIX### begin -->
				<!-- ###TEMPLATE_EVENT### begin -->
					###EVENT_CATEGORY###
					###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###
					###EVENT_STARTTIME### ###EVENT_ENDTIME###
					###EVENT_TEASER###
					###EVENT_IMAGE###
				<!-- ###TEMPLATE_EVENT### end -->
			<!-- ###HOUR_MATRIX### end -->
		</table>
<!-- ###TOP_TEMPLATE_DAY### end -->


<!-- ###TOP_TEMPLATE_EVENT### begin -->
<p align="center">
Switch view: ###LINK_SWITCH_TO_MONTH### Month ###LINK_SWITCH_TO_MONTH### |
  ###LINK_SWITCH_TO_WEEK### Week ###LINK_SWITCH_TO_WEEK### |
  ###LINK_SWITCH_TO_DAY### Day ###LINK_SWITCH_TO_DAY### |
  ###LINK_TODAY### Go to today ###LINK_TODAY###
</p>

###EVENT_TITLE###

###EVENT_CATEGORY_IMAGE###
###EVENT_CATEGORY###

<table border="0" align="right" style="border: 1px solid #AAAAAA; background-color: #EEEEEE;"><tr><td>
    ###EVENT_STARTDATE### ###EVENT_STARTTIME###
    ###EVENT_ENDDATE### ###EVENT_ENDTIME###

    ###EVENT_PLACE###
    ###EVENT_ADDRESS###

</td><td valign="top">###EVENT_IMAGE###</td></tr></table>

<p>

###EVENT_DESCRIPTION###
###EVENT_MOREINFO###

###EVENT_URL###


###EVENT_ORGANIZER###<br>
###EVENT_ORGANIZER_IMAGE###<br>
###EVENT_ORGANIZER_URL###<br>
###EVENT_ORGANIZER_EMAIL###

<!-- ###TOP_TEMPLATE_EVENT### end -->

<!-- ###TOP_TEMPLATE_UPCOMING### begin -->
	<p align="center">
		Switch view: ###LINK_SWITCH_TO_MONTH### Month ###LINK_SWITCH_TO_MONTH### |
  		###LINK_SWITCH_TO_WEEK### Week ###LINK_SWITCH_TO_WEEK### |
  		###LINK_SWITCH_TO_DAY### Day ###LINK_SWITCH_TO_DAY### |
  		###LINK_TODAY### Go to today ###LINK_TODAY###
	</p>

	<h2>Upcoming Events</h2>

	<ul>
		###ALLEVENTS###
	</ul>

	<!-- ###TEMPLATE_EVENT### begin -->
		<li> ###LINK_EVENT######EVENT_TITLE######LINK_EVENT### (###EVENT_STARTDATE######EVENT_ENDDATE###)
	<!-- ###TEMPLATE_EVENT### end -->
<!-- ###TOP_TEMPLATE_UPCOMING### end -->

<!-- ###MONTH_AT_GLANCE### begin -->
	<!-- ###TEMPLATE_MONTH### begin -->
		<table style="border: 1px solid #AAAAAA; margin-bottom: 3px; " cellspacing="1" cellpadding="0" class="monthAtGlance">
			<tr><th colspan="7" style="background-color: #DDDDEE;">###LINK_MONTH######CURRENT_MONTH######LINK_MONTH###</th></tr>
			<tr>
				<td class="matWeekDayHeader">M</td>
				<td class="matWeekDayHeader">T</td>
				<td class="matWeekDayHeader">W</td>
				<td class="matWeekDayHeader">T</td>
				<td class="matWeekDayHeader">F</td>
				<td class="matWeekEndDayHeader">S</td>
				<td class="matWeekEndDayHeader">S</td>
			</tr>
		<!-- ###CALENDAR_MATRIX### begin -->
			<!-- ###TEMPLATE_WEEK### begin -->
			  		<tr>
						<!-- ###DAY_MATRIX### begin -->
							<!-- ###TEMPLATE_DAY### begin -->
								###LINK_DAY######DAY_HEADER######LINK_DAY###
							<!-- ###TEMPLATE_DAY### end -->
						<!-- ###DAY_MATRIX### end -->
			  		</tr>
			<!-- ###TEMPLATE_WEEK### end -->
		<!-- ###CALENDAR_MATRIX### end -->
		</table>
	<!-- ###TEMPLATE_MONTH### end -->
<!-- ###MONTH_AT_GLANCE### end -->

<!-- ###SUMMARY_VIEW### begin -->
	<!-- ###TEMPLATE_EVENT### begin -->
		###EVENT_STARTDATE### ###LINK_EVENT### ###EVENT_TITLE### ###LINK_EVENT###
	<!-- ###TEMPLATE_EVENT### end -->
<!-- ###SUMMARY_VIEW### end -->


</body>
</html>
