<!-- ###TEMPLATE_EVENT### begin -->
	
	<style type="text/css">
	/*<![CDATA[*/
	<!--

		.single_event {
			border: 1px solid #AAAAAA;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10pt;
			padding: 10px;
		}

		.single_event .event_title {
			font-size: 15pt;
			font-weight: bold;
			text-align: center;
			color: #288EBD;
		}

		.single_event .event_category {
			text-align: center;
		}
		.single_event .event_targetgroup {
			text-align: center;
		}

		.single_event .question {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10pt;
			color: #288EBD;
			font-weight: bold;
			margin-top: 10px;
		}

		.single_event .event_time {
		}
		.single_event .event_series {
		}

		.single_event .event_teaser {
		}
		.single_event .event_description {
		}
		.single_event .event_moreinfo{
		}

		.single_event .event_image {
			float: right;
		}

		.single_event .event_organizer_image {
			float: left;
		}

	-->
	/*]]>*/
	</style>

<!--
Switch view: ###MONTH_PAGE### 
  ###LINK_SWITCH_TO_WEEK### Week ###LINK_SWITCH_TO_WEEK### |
  ###LINK_SWITCH_TO_DAY### Day ###LINK_SWITCH_TO_DAY### |
  ###LINK_TODAY### Go to today ###LINK_TODAY###
</p>
-->
	<div class="single_event">
		<div class="event_title">###EVENT_TITLE###</div>
		<div class="event_category">###EVENT_CATEGORY_IMAGE### ###EVENT_CATEGORY###</div>
		<div class="event_targetgroup">###EVENT_TARGETGROUP_IMAGE### ###EVENT_TARGETGROUP###</div>

		<div class="event_image">###EVENT_IMAGE###</div>

		<div class="question">When?</div>
		<div class="event_time">###EVENT_TIME###</div>
		<div class="event_series">###EVENT_REPEAT###</div>

		<div class="question">Where?</div>
		<div class="event_place">###EVENT_PLACE###</div>
    		<div class="event_address">###EVENT_ADDRESS###</div>

		<div class="question">Short?</div>
		<div class="event_teaser">###EVENT_TEASER###</div>

		<div class="question">What?</div>
		<div class="event_description">###EVENT_DESCRIPTION###</div>

		<div class="question">Details?</div>
		<div class="event_moreinfo">###EVENT_MOREINFO###</div>

		<div class="question">Webpage?</div>
		<div class="event_url">###EVENT_URL###</div>

		<div class="question">Who?</div>
		<div class="event_organizer_image">###EVENT_ORGANIZER_IMAGE###</div>
		<div class="event_organizer">###EVENT_ORGANIZER###</div>
		<div class="event_organizer_email">###EVENT_ORGANIZER_EMAIL###</div>
		<div class="event_organizer_url">###EVENT_ORGANIZER_URL###</div>

		<div style="clear: both"></div>

	</div>
<!-- ###TEMPLATE_EVENT### end -->


