<!-- ###TEMPLATE_MONTH### begin -->

 <style type="text/css">
        /*<![CDATA[*/
        <!--

	.monthview, .calendar-month {
		font-family:  Arial, Helvetica, sans-serif;
	}
	TABLE.monthview {
		border: 1px solid #AAAAAA;
		background-color: #DDDDFF;
		padding: 5px;
		clear: both;
	}

	.calendar-month .prev_months {
		float: left;
		width: 220px;
		text-align: right;
		padding-top: 5px;
		white-space: nowrap;
	}
	.calendar-month .next_months {
		float: right;
		width: 220px;
		padding-top: 5px;
		white-space: nowrap;
	}
	.calendar-month .the_month {
		font-size: 15pt;
		font-weight: bold;
		color: #288EBD;
		text-decoration: none;
		text-align: center;
	}
	.calendar-month .the_month A {
		color: #288EBD;
		text-decoration: none;
	}

	.calendar-month .p_m {
		float: left;
	}
	.calendar-month .n_m {
		float: right;
	}

	.calendar-month .p_y {
		float: left;
	}
	.calendar-month .n_y {
		float: right;
	}
	.calendar-month .p_y_1 {
		float: left;
		padding-left: 10px;
	}
	.calendar-month .n_y_1 {
		float: right;
		padding-right: 10px;
	}
	.calendar-month .cat_select {
		text-align: right;
	}

	.calendar-month .p_y_1 A, 
	.calendar-month .n_y_1 A {
		color: #288EBD;
		display: inline;
		text-decoration: none;
	}


	.calendar-month .p_m_1, 
	.calendar-month .p_m_2,
	.calendar-month .p_m_3,
	.calendar-month .n_m_1, 
	.calendar-month .n_m_2,
	.calendar-month .n_m_3
	{
		color: #288EBD;
		display: inline;
	}

	.calendar-month .p_m_1 A, 
	.calendar-month .p_m_2 A,
	.calendar-month .p_m_3 A,
	.calendar-month .n_m_1 A, 
	.calendar-month .n_m_2 A,
	.calendar-month .n_m_3 A
	{
		color: #288EBD;
		text-decoration: none;
	}

	.calendar-month .p_m_1, 
	.calendar-month .n_m_1 {
		font-size: 12pt;
	}

	.calendar-month .p_m_2,
	.calendar-month .n_m_2 {
		font-size: 10t;
		padding: 10px;
	}

	.calendar-month .p_m_3,
	.calendar-month .n_m_3 {
		font-size: 9pt;
	}


	TABLE.monthview TR TD.top_header {
		width: 610px;
		/* background-color: #EEEEEE; */
		height: 20px;
		font-size: 20pt;
	}

	TABLE.monthview TR TD.top_header .weekheader {
		width: 25px;
		text-align: center;
		border-bottom: 1px solid #000000;
		/* background-color: #FFFFFF; */
		visibility: hidden;
	}

	.monthview .top_header .dayheader {
		width: 80px;
		text-align: center;
		font-size: 10pt;
		font-weight: bold;
		background-color: #FFFFFF;
		color: #2AA4DD;
		color: #288EBD;
		border: 1px solid #9999FF;

	}
	.monthview .week {
	}

	.monthview .weeknum {
		vertical-align: top;
		border: 1px solid #9999FF;
	}

	.monthview .weeknum .week_short {
		color: #288EBD;
		color: #2AA4DD;
		color: #93D0ED;
		line-height: 0px;
		font-weight: bold;
		padding-top: 20px;
	}
	.monthview .weeknum .week_header {
		color: #288EBD;
		font-weight: bold;
		padding-left: 5px;
		font-size: 10pt;
	}
	.monthview .weeknum .week_header A {
		color: #288EBD;
		text-decoration: none;
		display: block;
		width: 100%;
	}

	TABLE.monthview TR TD.day {
		/* border-bottom: 1px solid #9999FF; */
		vertical-align: top;
		height: 80px;
		width: 80px;
		background-color: #FFFFFF;
		border: 1px solid #9999FF;
	}
	TABLE.monthview TR TD.weekend {
		/* visibility: hidden; */
		/* display: none; */
		background-color: #EFFEFF;
	}
	TABLE.monthview TR TD.not_in_month {
		/* visibility: hidden; */
		/* display: none; */
		background-color: #DDDDFF;
	}
	TABLE.monthview TR TD.day_is_today {
		background-color: #FFDDDD;
	}
	TABLE.monthview TR TD.day .dayTitle {
		font-size: 9pt;
		margin-top: 2px;
		margin-left: 2px;
	}
	TABLE.monthview TR TD.day .dayTitle A {
		text-decoration: none;
		display: block;
		width: 100%;
	}


	TABLE.monthview TR TD.day DIV.event_today {
		display: block;
		font-size: 8pt;
		border: 1px solid;
		border-top: 5px solid;
		border-color: #2AA4DD;
		margin: 2px;
		background-color: #EFEFEF;
		overflow: hidden;
	}
	TABLE.monthview TR TD.day DIV.event_today DIV.inner A {
		color: #222255;
		text-decoration: none;
		white-space: nowrap;
		display: inline;
	}
	.monthview .event_today .inner {
		white-space: nowrap;
	}
	
	.monthview .event_not_today {
		border-top: 5px solid #0000FF;
		border-top-color: #2AA4DD;
		margin: 1px;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.monthview .event_not_today .inner {
		display: none;
	}
      -->
        /*]]>*/
        </style>

	<div class="calendar-month">
		<div class="prev_months">
			<div class="p_m">###PREV_MONTH_IMAGE###</div>
			<div class="p_m_3">###PREV_MONTH_3###</div>
			<div class="p_m_2">###PREV_MONTH_2###</div>
			<div class="p_m_1">###PREV_MONTH_1###</div>
		</div>
		<div class="next_months">
			<div class="n_m">###NEXT_MONTH_IMAGE###</div>
			<div class="n_m_1">###NEXT_MONTH_1###</div>
			<div class="n_m_2">###NEXT_MONTH_2###</div>
			<div class="n_m_3">###NEXT_MONTH_3###</div>
		</div>
		<div class="the_month">###MONTH_HEADER###</div>

		<div style="clear: both;"></div>

		<div class="p_y">###PREV_YEAR_IMAGE###</div>
		<div class="p_y_1">###PREV_YEAR###</div>
		<div class="n_y">###NEXT_YEAR_IMAGE###</div>
		<div class="n_y_1">###NEXT_YEAR###</div>

		<table class="monthview" border="0" cellspacing="0" cellpadding="0">
					<tr class="top_header">
						<td class="weekheader"></td>
						<td class="dayheader">MON</td>
						<td class="dayheader">TUE</td>
						<td class="dayheader">WEN</td>
						<td class="dayheader">THU</td>
						<td class="dayheader">FRI</td>
						<td class="dayheader">SAT</td>
						<td class="dayheader">SUN</td>
					</tr>
					<!-- ###WEEKS### begin -->
						<!-- ###TEMPLATE_WEEK### begin -->
							<tr class="week">
								<td class="weeknum"><div class="week_short">W</div><div class="week_header">###WEEK_HEADER###</div></td>
								<!-- ###DAYS### begin -->
									<!-- ###TEMPLATE_DAY### begin -->
										<td class="day ###NOT_IN_MONTH### ###WEEK_END### ###TODAY###" nowrap><div class="dayTitle">###DAY_HEADER###</div>
											<!-- ###EVENTS### begin -->
												<!-- ###TEMPLATE_EVENT### begin -->
													<div class="###EVENT_CLASS_STARTING_TODAY### ###EVENT_CLASS_STARTING_NOT_TODAY###">
														<div class="inner">
															###START_TIME###
															###FULLDAY###
															###EVENT_TITLE###
														</div>
													</div>
												<!-- ###TEMPLATE_EVENT### end -->
											<!-- ###EVENTS### end -->
									<!-- ###TEMPLATE_DAY### end -->
								<!-- ###DAYS### end -->
						<!-- ###TEMPLATE_WEEK### end -->
					<!-- ###WEEKS### end -->
					</tr>
				</table>
		<div class="cat_select">###TARGETGROUP_SELECT### ###CATEGORY_SELECT###</div>
	</div>
<!-- ###TEMPLATE_MONTH### end -->
