<!-- ###TEMPLATE_MONTH### begin -->

 <style type="text/css">
        /*<![CDATA[*/
        <!--

		.mini-month {
			width: 150px;
			border: 1px solid #AAAAAA;
			font-family: Verdana, Arial, Helvetica, sans-serif;
		}
		.mini-month .mini-month-header {
			font-size: 10pt;
			text-align: center;
			font-weight: bold;
		}
		.mini-month .mini-month-header A {
	                color: #288EBD;
			text-decoration: none;
		}
		.mini-month TD.day {
			text-align: center;
			font-size: 8pt;
		}
		.mini-month TD.day A {
			text-decoration: none;
		}

		.mini-month TD.has_events A {
			color: #FF0000;
		}

		.mini-month TD.not_in_month {
			visibility: hidden;
		}
      -->
        /*]]>*/
        </style>

	<div class="mini-month">
		<div class="mini-month-header">###MONTH_HEADER###</div>
		<table border="0" cellspacing="0" cellpadding="2" align="center">
		<!-- ###WEEKS### begin -->
			<!-- ###TEMPLATE_WEEK### begin -->
				<tr class="mini-view-week">
					<!-- ###DAYS### begin -->
						<!-- ###TEMPLATE_DAY### begin -->
							<td class="day ###NOT_IN_MONTH### ###HAS_EVENTS###">###DAY_HEADER###</td>
						<!-- ###TEMPLATE_DAY### end -->
					<!-- ###DAYS### end -->
				</tr>
			<!-- ###TEMPLATE_WEEK### end -->
		<!-- ###WEEKS### end -->
		</table>
	</div>
<!-- ###TEMPLATE_MONTH### end -->
