<!-- ###TEMPLATE_UPCOMING### begin -->
		
<style type="text/css">
/*<![CDATA[*/
<!--

	.calendar_upcoming {
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	.calendar_upcoming .upcoming_title {
		color: #288EBD;
		font-size: 15pt;
		font-weight: bold;
	}

	.calendar_upcoming .single_event {
		font-size: 10pt;
		margin: 5px;
	}

	.calendar_upcoming .single_event .event_title A {
		color: #288EBD;
		text-decoration: none;
	}

	.calendar_upcoming .single_event .event_time {
	}
	.calendar_upcoming .single_event .event_series {
	}

	.calendar_upcoming .single_event .event_teaser {
		padding-left: 25px;
	}

-->
/*]]>*/
</style>

	<div class="calendar_upcoming">
		<div class="upcoming_title">Upcoming Events</div>
	<!-- ###EVENTS### begin -->

		<!-- ###TEMPLATE_EVENT### begin -->
	
			<div class="single_event">
				<div class="event_title">###EVENT_TITLE###</div>
				<div class="event_time">###EVENT_TIME###</div>
				<div class="event_teaser">###EVENT_TEASER###</div>
			</div>
		<!-- ###TEMPLATE_EVENT### end -->

	<!-- ###EVENTS### end -->
	</div>

<!-- ###TEMPLATE_UPCOMING### end -->

