description = "Page Footer"
==
<footer id="footer">
    <div class="inner">

        <h6><strong><a href="./../webmaster" title="Info zum Webmaster von Loopshape" class="internal hastip">Webmaster: Arjuna Noorsanto</a> • <a class="hastip" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#119;&#101;&#98;&#103;&#111;&#46;&#110;&#101;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;?subject=Kontaktanfrage%20über%20das%20Loopshape-Portal&body=Bitte%20schildern%20Sie%20Ihr%20Anliegen..." title="Webmaster kontaktieren">E-Mail: &#97;&#119;&#101;&#98;&#103;&#111;&#46;&#110;&#101;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a> • <i class="fa fa-copyright"></i>&nbsp;2015 Hamburg/Germany</strong></h6>

        <h6><a href="./../" class="internal hastip" title="HOME">Startseite</a> • <a class="external hastip" title="Öffne externen Link" href="http://octobercms.com/">Powered by: OctoberCMS</a> / Website-Template "Infinity Red" &nbsp;•&nbsp; <a class="hastip" title="Zum Impressum dieser Website" href="./../impressum">§ Impressum</a></h6>

        <div class="cf">
        </div>

    </div>
</footer>