description = "Page Header"
==
<header id="header">

	<div class="blackBoxTrans1"></div>
	<div class="blackBoxTrans2"></div>
	<div class="blackBoxTrans3"></div>
	<div class="blackBoxTrans4"></div>
	<div class="blackBoxTrans5"></div>

	<div class="inner">
		<div class="fmLogo">
			<a class="internal hastip" title="LOOPSHAPE • Web Development and Mediaproduction • 2015 by Arjuna Noorsanto" href="./../">
			    <img class="hover" src="./hostweb/assets/img/loopshape_logo_glow.png" alt="" />
				<img class="normal" src="./hostweb/assets/img/loopshape_logo.png" alt="" />
			</a>
			<div id="navBarMain">
				<ul>
					<!--
					<li>
					<a class="itemZoom internal hastip" title="Startseite" href="./../">
					<i class="fa fa-home"></i>
					</a>
					</li>
					-->
					<li>
						<a class="itemZoom internal hastip" title="Websites konzipieren und realisieren" href="./../coding"> <i class="fa fa-gear"></i> </a>
					</li>
					<li>
						<a class="itemZoom internal hastip" title="Ein Frontend-Template als Layoutvorgabe für eine Website definieren" href="./../templating"> <i class="fa fa-wrench"></i> </a>
					</li>
					<li style="float:right;">
						<a class="itemZoom internal hastip" title="Ökonomisch handeln durch Einsatz von 'OpenSource Anwendungen'" href="./../opensource"> <i class="fa fa-heartbeat"></i> </a>
					</li>
					<li>
						<a class="itemZoom internal hastip" title="Eine produktive Idee zu einem erfolgreichen Konzept formen" href="./../conception"> <i class="fa fa-pencil"></i> </a>
					</li>
					<li>
						<a class="itemZoom internal hastip" title="Ein Web-Content-Management-System und/oder ein Framework für einen optimierten Website-Workflow nutzen" href="./../framework"> <i class="fa fa-codepen"></i> </a>
					</li>
					<li>
						<a class="itemZoom internal hastip" title="Grafiken f&uuml;r's Seitenlayout bearbeiten" href="./../imagework"> <i class="fa fa-picture-o"></i> </a>
					</li>
					<li style="float:right;">
						<a class="itemZoom hastip" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#119;&#101;&#98;&#103;&#111;&#46;&#110;&#101;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;?subject=Kontaktanfrage%20über%20das%20Loopshape-Portal&body=Bitte%20schildern%20Sie%20Ihr%20Anliegen..." title="Webmaster kontaktieren"><i class="fa fa-envelope"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="cf"></div>
		<div class="fmHeader">
			<strong> <h2 class="colorWhite fontThin">POWERFUL
			<br />
			HTML&nbsp;+&nbsp;CSS&nbsp;+&nbsp;JS
			<br />
			FROM&nbsp;THE&nbsp;MIND
			<br />
			<i class="fa fa-cogs"></i></h2> </strong>
		</div>
	</div>
</header>