description = "Page Scripts"
==
<?php
function onStart() {
    
    $this->page['baseUrl'] = 'http://'.$_SERVER["HTTP_HOST"].'/';
    
}
?>
==
<!--
	REQUIRE.JS Loader for "Infinity Red" Template 
	Combined by: Arjuna Noorsanto • E-Mail: awebgo.net@gmail.com
-->
<!-- loading RequireJS main file -->
<script src="./hostweb/assets/js/app/r.js"></script>
<!-- define BaseURL and load RequireJS-config -->
<script>
	var baseUrl = "{{ this.page.baseUrl }}";
	require(['./hostweb/assets/js/app/config']);
</script>