description = "Loopshape Tutorials"
==
<section id="tutsArea">

    <h2>
    <p>
        <strong><i class="fa fa-file-code-o"></i>&nbsp;&nbsp;Tutorial Corner</strong>
    </p></h2>

    <a href="./../paypal-api-payment" class="internal hastip" title="PayPal-API Anleitung (engl.)"> <h4 class="fontBigger"><strong><i class="fa fa-lightbulb-o"></i>&nbsp;PayPal API Payment</strong></h4> </a>

    <a href="./../requirejs-usage" class="internal hastip" title="Anleitung für Require.JS"> <h4 class="fontBigger"><strong><i class="fa fa-lightbulb-o"></i>&nbsp;Require.JS Scripte einbinden</strong></h4> </a>

</section>