.hasJs .dfcontentslide-content {
  display: none; }
  @media print {
    .hasJs .dfcontentslide-content {
      display: block !important;
      opacity: 1 !important;
      height: auto !important;
      max-height: inherit !important; } }

@media print {
  .dfcontentslide-toggle {
    display: none; } }

.dfcontentslide-open .dfcontentslide-content {
  display: block; }

.dfcontentslide-toggle h1, .dfcontentslide-toggle h2, .dfcontentslide-toggle h3, .dfcontentslide-toggle h4, .dfcontentslide-toggle p {
  margin: 0 0 0 2px;
  padding: 0 0 0 14px;
  font-size: 11px;
  line-height: 14px;
  background: url(../Images/icon.png) left top no-repeat;
  cursor: pointer; }

.dfcontentslide-toggle a, .dfcontentslide-toggle a:visited {
  color: #666; }

.dfcontentslide-open .dfcontentslide-toggle h1, .dfcontentslide-open .dfcontentslide-toggle h2, .dfcontentslide-open .dfcontentslide-toggle h3, .dfcontentslide-open .dfcontentslide-toggle h4, .dfcontentslide-open .dfcontentslide-toggle p {
  background-position: left -45px; }

.dfcontentslide-spinner, .dfcontentslide-contentSub {
  margin: 0 0 0 15px; }

.dfcontentslide-spinner {
  height: 16px;
  width: 16px;
  background: url(../Images/ajax-loader.gif) left top no-repeat; }

@media print {
  .hasJs .dfcontentslide-content {
    display: block; }
  .dfcontentslide-contentSub {
    margin: 10px 0; }
  .dfcontentslide-toggle h1, .dfcontentslide-toggle h2, .dfcontentslide-toggle h3, .dfcontentslide-toggle h4, .dfcontentslide-toggle p {
    padding: 0;
    font-size: 1em;
    background: none; } }

.dfcontentslide-wrap[data-dfcontentslide-animation="slideUpwards"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .dfcontentslide-wrap[data-dfcontentslide-animation="slideUpwards"] .csc-header {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .dfcontentslide-wrap[data-dfcontentslide-animation="slideUpwards"] .dfcontentslide-content {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

.dfcontentslide-content.dfcontentslide-transition-fallback {
  display: none; }

.dfcontentslide-content.dfcontentslide-transition-fade {
  -webkit-transition: opacity .8s ease, max-height 0s ease .5s;
          transition: opacity .8s ease, max-height 0s ease .5s;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  display: block; }

.dfcontentslide-open .dfcontentslide-content.dfcontentslide-transition-fade {
  opacity: 1;
  max-height: 999999999px;
  -webkit-transition: opacity .8s ease;
          transition: opacity .8s ease; }

