description = "Back to Home Link"
==
<div class="cf">
</div>
<p>
    &nbsp;
</p>
<a class="homeLink internal hastip" href="./../" title="Zurück zur Startseite">
<button class="btn_link">
    <p>
        <strong>Startseite</strong>
    </p>
</button></a>
<a class="homeLink internal hastip" href="./../search" title="Archiv öffnen">
<button class="btn_link">
    <p>
        <strong>Archiv</strong>
    </p>
</button></a>
<a class="homeLink internal hastip" href="./../techforum" title="TechForum öffnen">
<button class="btn_link">
    <p>
        <strong>TechForum</strong>
    </p>
</button></a>
<a class="homeLink internal hastip" href="./../blog" title="TechBlog öffnen">
<button class="btn_link">
    <p>
        <strong>TechBlog</strong>
    </p>
</button></a>
<a class="homeLink internal hastip" href="./../coding" title="Öffne die Tutorials">
<button class="btn_link">
    <p>
        <strong>Tutorials</strong>
    </p>
</button></a>
<a class="homeLink internal hastip" href="./../account" title="Öffne das Benutzermenü">
<button class="btn_link">
    <p>
        <strong>Benutzer</strong>
    </p>
</button></a>

<!--
<div class="cf"></div>
<p>&nbsp;</p>
<div
class="fb-like"
data-share="true"
data-width="320"
data-show-faces="true">
</div>
-->
