description = "Service Area"
==
<section id="serviceOptions">

    <h2><strong><i class="fa fa-refresh"></i>&nbsp;&nbsp;Zusammenfassung</strong></h2>

    <p>
        <strong>Sie können unter folgenden Kategorien wählen,
        <br />
        um weitere Informationen zu erhalten:</strong>
    </p>

    <h5 id="glowMenu" class="resizeBigger"> <strong> <a href="./../coding" class="internal hastip" title="Erfahrungen zum Programmieren von Websites."> <i class="fa fa-gear"></i>&nbsp;&nbsp;Programmierung
    <br />
    </a> <a href="./../templating" class="internal hastip" title="Eine veranschaulichung, wie ich Templates für Webseiten erstelle."> <i class="fa fa-wrench"></i>&nbsp;&nbsp;Templating</a>
    <br />
    <a href="./../imagework" class="internal hastip" title="Ein paar Tips&Tricks bei der professionellen Bildbearbeitung am Computer."> <i class="fa fa-paint-brush"></i>&nbsp;&nbsp;Bildbearbeitung</a>
    <br />
    <a href="./../conception" class="internal hastip" title="Brainstorming und Ideenfindung im Alltag anhand nützlicher Applikationen."> <i class="fa fa-pencil"></i>&nbsp;&nbsp;Konzeption</a>
    <br />
    <a href="./../framework" class="internal hastip" title="Warum das Rad neu erfinden, wenn man es fertig nutzen kann?"> <i class="fa fa-codepen"></i>&nbsp;&nbsp;Frameworks</a>
    <br />
    <a href="./../opensource" class="internal hastip" title="Gratis-Software; und sie ist doch nicht umsonst..."> <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;&nbsp;OpenSource</a>
    <br />
    </strong> </h5>
</section>